[2016-08-17 04:24] goanpeca opened #3 "Migrate documentation to lektor"
We need to see how to integrate the documentation within the website. I am personally not a fan of having to use another service for it (like readthedocs), probably we just need to make use a template that is common to the two sites (sphinx generated and lektor generated), and only bundled them together on build.

Also we need to add search for the static site, so its good to look for options. I h

[2016-08-17 04:37] goanpeca opened #6 "Organize the assets folder"
The asset folder has everything on one level and looks kinda messy. Any chance of adding folders and a better structure?

[2016-08-17 16:53] goanpeca opened #7 "Create a carousel effect with some test images"
Like what the lektor page provides,

You can use some images from here, https://github.com/spyder-ide/website/tree/master/img_src

[2016-08-17 16:56] goanpeca opened #8 "Add disqus comments to the blog pages"
`DISQUS_SITENAME = 'spyder-ide'`

https://www.getlektor.com/docs/guides/disqus/

[2016-08-17 16:59] goanpeca opened #9 "Enhance the footer (change template, add social media icons on footer)"
Add social media icons for spyder-ide on the footer

twitter: spyder_ide
facebook: https://www.facebook.com/SpyderIDE/
google: https://plus.google.com/u/0/communities/112932801653352854842
github: https://github.com/spyder-ide/spyder
gitter:  https://gitter.im/spyder-ide/public

[2016-08-17 17:00] goanpeca opened #10 "Add a support/donate to spyder"
Can be on the home screen for now, and it does not need to do anything, but we need it to be there.

![image](https://cloud.githubusercontent.com/assets/3627835/17745627/340439e8-6472-11e6-8c9c-08041d006698.png)

[2016-08-17 17:03] goanpeca opened #11 "Create a basic top navigation header."
It would be nice to use a sticky top header that shrinks a bit after you scroll down a bit

The content of the header could be something like, for a basic structure.

![image](https://cloud.githubusercontent.com/assets/3627835/17745708/870170f2-6472-11e6-9f6f-0d0def2a6a82.png)

The flow of the header should be something like

https://www.rstudio.com/home/

[2016-08-17 17:36] goanpeca opened #13 "Update readme with the different technologies libraries we are using"
Please add to the readme the different components we are using now, you can split in Backend and Frontend

Backend:
- lektor
- jinja2
- etc etc...

Frontned
- Foundation
- Slick etc.... etc etc

[2016-08-17 18:58] rlaverde opened #14 "Home banner should be in a flow block?"
Using a flow block will be easy to modify, and separate the content from the logic. Although I will add complexity

https://github.com/goanpeca/spyder-website/pull/12#discussion-diff-75163689

[2016-08-17 21:11] goanpeca opened #15 "Add a comminity page (should be also on the top navigation)"
Lets just use this content and update it with spyder stuff....

https://www.getlektor.com/community/

We will change the rewording afterwards but I like the idea.

[2016-08-20 03:05] rlaverde opened #18 "Adding alternatives for translation"
https://www.getlektor.com/docs/content/alts/

Which alternatives should be added? Spanish? French?

[2016-08-20 03:07] rlaverde opened #19 "Translate Documentation"
I think we will have to wait to reorder and update the documentation before translating it.

[2016-08-20 03:14] rlaverde opened #20 "Write download/installation page?"
This already exist in the documentation, but I think It should be more relevant, and be in a dedicated page with a link in the navigation bar.

[2016-08-20 03:15] rlaverde opened #21 "Translate sections (home, community, downloads)"
We will have to wait https://github.com/goanpeca/spyder-website/pull/12  https://github.com/goanpeca/spyder-website/issues/15 and https://github.com/goanpeca/spyder-website/issues/20 before working in this issue

[2016-08-20 03:18] rlaverde opened #22 "Translate layout (nav bar, footer) using databags"
https://www.getlektor.com/docs/content/databags/

[2016-08-24 03:27] #3 closed

[2016-08-24 03:27] #6 closed

[2016-08-24 13:31] goanpeca opened #27 "Create instructions for getting started with this repo"
Lets create on the readme instructions to get started on this repo.

One for pip (or using the lektor install bash) and another one for conda (I can do this one), cause this is the preferred method for us

[2016-08-24 14:30] #8 closed

[2016-08-24 21:34] #7 closed

[2016-08-25 03:56] #15 closed

[2016-08-25 03:57] #13 closed

[2016-08-25 14:48] goanpeca commented on #11
@rlaverde could you fix this so that it reflects the current state (includes docs and community / and removes projects and about)

[2016-08-25 14:51] goanpeca opened #34 "Use htmldity to reformat up the generated HTML content"
This is not important but it would be nice to reformat the built site so that the html follows a given convention.

We can use htmltidy for this.

[2016-08-25 14:54] goanpeca commented on #34
@rlaverde

[2016-08-25 14:59] #27 closed

[2016-08-26 15:54] #11 closed

[2016-08-26 15:54] #22 closed

[2016-08-26 17:25] #18 closed

[2016-08-29 03:33] goanpeca commented on #34
For example.. https://pypi.python.org/pypi/pytidylib

[2016-08-29 23:05] rlaverde commented on #34
I think that the best way to integrate it will be as a plugin, there is already a plugin for a html minimizer [lektor-htmlmin plugin](https://github.com/vesuvium/lektor-htmlmin), maybe we could use this plugin, or write a new plugin for pytidylib

[2016-08-29 23:07] goanpeca commented on #34
Sounds good

[2016-08-30 15:59] #14 closed

[2016-10-20 22:12] rlaverde commented on #10
This is related to https://github.com/spyder-ide/spyder/issues/1492

[2016-10-28 21:55] goanpeca opened #39 "Create a code examples section"
To make the transition easier for matlab users, we should do something like

https://www.mathworks.com/products/matlab/examples.html

[2016-10-28 21:57] goanpeca opened #40 "File exchange anyone?"
http://www.mathworks.com/matlabcentral/fileexchange/?s_tid=gn_mlc_fx

[2016-11-01 15:01] rlaverde commented on #39
I'm not sure if this  is a good idea, Matlab is a language and a set of libraries, but spyder is an IDE, maybe we could just add links to examples of the different libraries sites.

[2016-11-01 15:24] goanpeca commented on #39
Matlab is a language a set of libraries and an IDE for the matlap language

Spyder is and IDE originally (and still) focused on python using several python libraries.

Having links to other libraries does not help people make the transition. People coming from matlab are not programming hackers used to going to N different websites.

[2016-11-02 01:07] rlaverde commented on #39
Although I don't really like the idea (I think the right place for examples is each library site), I understand your point.

I will create a new section, I think we could reuse documentation template and model, Is that ok?

[2016-11-04 10:38] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:38] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #40
https://pypi.python.org/pypi ?
Yes Pypi is a mess, but so was file exchange last time I used it.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 10:39] Nodd commented on #39
I agree with @rlaverde, spyder is not meant to replace the whole Matlab ecosystem. Continuum products would be a better target for this.
If you want a documentation for transition between both of them, have a look at https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

[2016-11-04 14:14] rlaverde commented on #39
Or maybe we could add examples about things that are exclusive of spyder, variable explores, cells.. etc

[2017-01-14 15:45] rlaverde commented on #40
I'm not sure how this could be implemented, because we are using a static HTML generator,

We could create a new section with different subsections, but we will have to accept files through PRs :confused:

[2017-01-14 15:46] goanpeca commented on #40
This is on hold for now in da Icebox ;-)

[2017-01-14 16:49] rlaverde opened #41 "Use i18n for translation"
As @goanpeca suggested in #36 the standard way to translate content is using i18n

There is a plugin for lektor https://github.com/numericube/lektor-i18n-plugin/ although is outdated and not working.

What we should do?

[2017-01-15 13:16] rlaverde opened #44 "Build using conda"
In spyder-ide we prefer conda over pip, It will also improve building time.

We will have to wait to the next Lektor release, or install Lektor with pip in a conda environment (see error mentioned in #31 )

[2017-01-15 13:20] rlaverde opened #45 "Build using python3"
I think this project should be python3 only because there's no reason to support python2

Although Lektor [docs]( https://www.getlektor.com/docs/installation/) indicate there is not python3 support, Lektor currently support python3 in the master branch.

[2017-01-15 13:50] goanpeca commented on #44
https://github.com/conda-forge/lektor-feedstock

[2017-01-26 19:57] #9 closed

[2017-02-03 20:50] goanpeca opened #46 "Make foundation work with new layout and SCSS compilation"
Try webpack or direct compiling of SCSS using libsass (python)

[2017-02-11 16:53] #46 closed

[2017-02-17 20:44] goanpeca opened #49 "Update blog look based on design feedback"

[2017-02-17 21:15] rlaverde opened #50 "Implement search"
There is a search box but It's not working

Search could be implement with an external service like google, or using a js librart like [tipue](https://github.com/Tipue/Tipue-Search), It will need a script (or lektor plugin) for serialize data.

[2017-02-24 16:15] #49 closed

[2017-02-24 16:24] rlaverde opened #52 "Implement new style changes"
- Font change
- Banner
- Get started tabs
- Support us icon
- Background images
- Buttons

misc changes:
- typo <previous
-show 5 blog post per ppage

[2017-02-24 16:33] rlaverde opened #53 "Add 3.0 and 3.1 release notes to the blog"
https://github.com/spyder-ide/spyder/releases

[2017-02-24 16:35] rlaverde opened #54 "Document how to write a blog post"

[2017-02-25 23:39] #53 closed

[2017-03-02 21:40] rlaverde commented on #34
we could also try https://github.com/pietroalbini/lektor-minify

[2017-03-02 21:48] goanpeca commented on #34
Ok

[2017-03-03 12:21] rlaverde opened #56 "Generate assets during building in Travis"
Generated files shouldn't live in the repo

[2017-03-03 12:24] rlaverde opened #57 "Use style linters for sass and javascript"
https://github.com/brigade/scss-lint

http://standardjs.com/

[2017-03-10 02:00] rlaverde commented on #50
https://github.com/rlaverde/lektor-tipue-search

[2017-04-26 15:06] rlaverde opened #58 "Update componets text and images"

[2017-06-02 20:27] tenberg opened #59 "Personal modules won't load"
OSX: 10.12.5, Anaconda [Python: 3.6, Spyder 3.1.4]

Not sure if this is a bug or not, but I've upgraded to the latest version of Spyder through Anaconda and I can't load the modules I've written anymore. For example, previously I could type:

`from tools.specModel import SpecModel`

and Spyder would find tools in the iPython window so I could import. Now tools won't show up anymore and I've tried:

[2017-06-02 20:29] #59 closed

[2017-06-27 14:33] rlaverde opened #61 "Add a Frequently Asked Questions section"
Many users run into the same mistakes, or have similar questions:

- %matplotlib inline
-  %gui tk
- qtpy.PythonQtError: No Qt bindings could be found
- discouraging mixing conda with pip (or different conda channels)

[2017-06-27 15:08] #45 closed

[2018-02-01 05:13] dalthviz commented on #10
@ccordoba12 should we close this since we already have the button to opencollective?:

![imagen](https://user-images.githubusercontent.com/16781833/35662118-6334a3cc-06e4-11e8-8994-9f0404defdd3.png)

[2018-02-01 05:23] ccordoba12 commented on #10
The button already points to Open collective?

[2018-02-01 15:47] dalthviz commented on #10
Yep, it was done at #62

[2018-02-06 14:35] #58 closed

[2018-02-09 16:36] #10 closed

[2018-02-22 04:25] ccordoba12 opened #65 "Feedback on the new theme"
Some things that are broken or I'd like to change with respect to the new theme:

1. The navbar doesn't remain fixed at the top in Firefox when you scroll down and scroll back to the  top again. It works as expected in Chrome.
2. The image with the big logo should also contain a screenshot of a full Spyder session below it and centered. Else, it seems strange that there is a huge white region belo

[2018-02-24 18:41] #65 closed

[2018-02-24 23:08] ccordoba12 opened #68 "A couple of more issues with the new theme"
The new home page is looking really good! This is my second round of minor issues before considering it's done:

1. We need to change the current favicon because it's using the icon from the old site in Firefox and the Hugo icon theme in Chrome.
2. Navbar sections are not changing when moving from one section to another. For example, *Componets* is not selected after entering that section.
3. I do

[2018-03-02 02:48] #68 closed

[2018-03-02 03:03] ccordoba12 opened #70 "Missing "Plugins" entry in Navbar"
@dalthviz, one thing I noticed after testing your new changes in PR #69 is that there's no *Plugins* entry in the navbar. Please fix that.

The rest is looking really, really nice!

[2018-03-02 03:04] ccordoba12 opened #71 "Use a high resolution image of Spyder in the banner"
I'll work on this one.

[2018-03-02 03:05] ccordoba12 commented on #70
@dalthviz, the image you added doesn't look good in big screens. But I'll take care of that ;-)

[2018-03-02 03:06] ccordoba12 commented on #71
@dalthviz, the image you added doesn't look good in big screens. But I'll take care of that ;-)

[2018-03-02 03:23] #70 closed

[2018-03-02 17:56] dalthviz opened #73 "Change style of the blog page"
Following a style similar to http://blog.rstudio.com/

[2018-03-31 17:18] #73 closed

[2018-03-31 17:36] dalthviz opened #76 "Use .png images instead of .gif in the main page (plugins section)"

[2018-03-31 23:18] #76 closed

[2018-04-01 00:45] CAM-Gerlach opened #78 "Add download (Anaconda) and donate buttons to top bar, and darken font color"
@dalthviz or others, would you consider adding on the right of the top bar a download button linking to the Anaconda download page (similar in look to the current one for the source code buried down the page on a sub-tab), and secondarily a donate button linking to opencollective (like the one all the way at the buttom)? @ccordoba12 recommended I create a new issue to hopefully get it done.

These

[2018-04-01 04:48] CAM-Gerlach opened #79 "Various minor textual issues related to the name and authors"
A few things

* The footer inaccurately states copyright of theme as "All Rights Reserved", and does not include the name or a link to the license, which is not only clearly false but in violation of its terms. Furthermore, it is not clear that is is the *theme* that is covered by that copyright and license, rather than all the content of the website itself.
* In the license, the website itself st

[2018-04-01 11:00] CAM-Gerlach commented on #79
Also, uses a number of other assets that are not properly attributed and whose license terms are not followed. Therefore, needs a NOTICES file or similar to actually list the licenses and text/links to thereof as required by them, and for a good measure the authors' name and details in an addendum to the AUTHORS file.

[2018-04-02 14:50] #71 closed

[2018-04-02 15:00] #79 closed

[2018-04-15 00:24] ccordoba12 commented on #78
Closed by #85.

[2018-04-15 00:24] #78 closed

[2018-04-15 17:47] ccordoba12 opened #98 "Use the same shade of red everywhere"
The current color for icons, buttons, etc is a shade of orange that I think we took from the hugo-icon theme. However, this color is different from the snake color in the Spyder logo.

So the idea is to use the same shade of red everywhere (logo, icons, buttons, etc). Let's go with @jnsebgosselin's [suggestion](https://github.com/spyder-ide/spyder/pull/6909#issuecomment-379599860) of

    rgb(255,

[2018-04-15 17:48] ccordoba12 commented on #98
@CAM-Gerlach, please also help us to update the banner with that color. @dalthviz will take care of the rest.

[2018-04-15 17:52] ccordoba12 opened #99 "Improve text of the front page"
The text present in the various sections and subsections of the front page needs several improvements. @CAM-Gerlach said he's going to help us with that.

@CAM-Gerlach, please make this your priority along with the screenshots for Spyder components.

[2018-04-15 17:58] ccordoba12 commented on #52
Done already.

[2018-04-15 17:58] #52 closed

[2018-04-15 17:59] ccordoba12 commented on #40
I don't understand what this means. Closing.

[2018-04-15 17:59] #40 closed

[2018-04-15 18:00] ccordoba12 commented on #20
Done already.

[2018-04-15 18:00] #20 closed

[2018-04-15 18:00] ccordoba12 commented on #57
Too much of a burden for an static website.

[2018-04-15 18:00] #57 closed

[2018-04-15 18:01] ccordoba12 commented on #61
This is a nice idea. @CAM-Gerlach, could you help us with it?

[2018-04-15 18:03] ccordoba12 commented on #19
This doesn't belong here. Besides, although valuable, the majority of our users are from USA, China and Europe.

[2018-04-15 18:03] #19 closed

[2018-04-15 18:04] ccordoba12 commented on #44
It's working fine with pip. No need to complicate things.

[2018-04-15 18:04] #44 closed

[2018-04-16 00:32] CAM-Gerlach commented on #98
@ccordoba12 In work now...will also push to the readmes after getting it done for the site itself.

[2018-04-16 00:38] CAM-Gerlach commented on #99
@ccordoba12 After two marathon screenshotting sessions I finally have everything we need (nearly 200 in all), way overkill to update our current docs but designed to provide comprehensive coverage for everything we'll want in the greatly expanded mega-overhaul that I'll hopefully be able to complete this summer. Therefore, now on to the site.

What's there at this point isn't bad (a good amount of

[2018-04-16 01:02] ccordoba12 commented on #61
You can do that in Dropbox Paper for now. When we finish the frontpage, @dalthviz can create an skeleton for you.

Sure, but we depend on @goanpeca for that.

Yep, good idea.

That sound like a good plan.

[2018-04-16 01:15] CAM-Gerlach commented on #61
Okay, will do. Right now in the queue its behind the front page copyedit/etc., baseline copyediting/updating the docs for the initial release, and the legal stuff needed for numfocus etc and then finishing that proposal itself (and I'm going to need to work on a bunch of term projects at some point...), but I can bump it up if desired. After May 1 I should have more time for everything though I'll

[2018-04-16 01:59] CAM-Gerlach commented on #99
Yeah, at least one for each and every integral UI element—panel, menu, context-menu, toolbar, pref pane, editor feature, dialog, variable editor, and popup. For each pane/component/major interface element, I have one ``standard`` screenshot showcasing the default look/features, plus potentially a number of others showcasing specific/alternate usage.

To e.g. ``content/components``? There's also a

[2018-04-16 15:49] jnsebgosselin commented on #98
I may be just a typo on @ccordoba12  part, nut my suggestion was  not `rgb(255, 33, 33)`, but `rgb(225, 33, 33)`.

![image](https://user-images.githubusercontent.com/10170372/38820420-d902d5bc-416b-11e8-986f-d7e276388846.png)

[2018-04-16 15:59] jnsebgosselin commented on #98
The Open Collective banner is `rgb(210, 40, 40)` btw.

![image](https://user-images.githubusercontent.com/10170372/38821059-8597f13a-416d-11e8-96e6-49f633e5d7cf.png)

[2018-04-16 16:07] ccordoba12 commented on #98
Sorry, it was my mistake. I didn't copy the value from your comment correctly.

However, after seeing your three screenshots above, I think I like `255, 33, 33` better than `225, 33, 33`. The first one looks more vibrant.

@CAM-Gerlach, what do you think?

[2018-04-16 16:08] ccordoba12 commented on #98
We'll change that to use the same shade of red too.

[2018-04-16 16:27] #99 closed

[2018-04-16 17:14] ccordoba12 commented on #98
I tried `255, 33, 33` in several places in the website and it doesn't look good. I mean, it's too close to the Youtube icon color.

So I think we should go with @jnsebgosselin suggestion of `225, 33, 33`. @CAM-Gerlach, sorry for making you waste your time with this one.

[2018-04-16 17:30] jnsebgosselin commented on #98
Ok, I understand. So it looks good when used only for the snake, but when there is too much of it, it is too flashy?

I've updated the image in my [comment](https://github.com/spyder-ide/website-spyder/issues/98#issuecomment-381682849) above to show better the various options we discussed so far.

[2018-04-16 17:34] ccordoba12 commented on #98
Yes. it's too flashy.

I'll try `238, 28, 36` and let you know.

[2018-04-16 17:43] ccordoba12 commented on #98
238, 28, 36:

![seleccion_010](https://user-images.githubusercontent.com/365293/38825611-e2082f48-4172-11e8-97e9-50290ea066f7.png)

![seleccion_013](https://user-images.githubusercontent.com/365293/38825780-61c11baa-4173-11e8-96af-ffb0f0a88598.png)

225, 33, 33:

![seleccion_011](https://user-images.githubusercontent.com/365293/38825644-00912eb0-4173-11e8-9d08-03bbf71fdfd7.png)

![seleccion_014](h

[2018-04-16 18:54] jnsebgosselin commented on #98
I think that both options look great. I'm undecided really...

My colleague who is doing a lot of web design said to me that the colors are not that important. It is the contrast between the different colors that is.

So I did some test here: https://contrastchecker.com/ to check the contrast between different shades of red and the gray color of the spyder web in the logo and here are the results:

[2018-04-16 19:01] goanpeca commented on #98
My vote goes for `225, 33, 33:`

[2018-04-16 19:05] jnsebgosselin commented on #98
These are additional tools that maybe can help you to choose.

https://color.adobe.com
http://paletton.com

[2018-04-16 22:13] ccordoba12 commented on #98
Ok, thanks @jnsebgosselin! Then `238, 28, 36` it is.

@dalthviz, please use that color for our icons and links.

[2018-04-16 22:24] CAM-Gerlach commented on #98
Sorry, just got to this after getting home form work; I was going to suggest something along these lines. I can't really tell the difference between the colors even right next to each other, but it makes the snake in the logo look much sharper. I'll implement momentarily and push all the changes again.

[2018-04-17 02:07] CAM-Gerlach commented on #98
I take it we'll also be updating our logo itself in all the various places to match?

[2018-04-17 02:34] CAM-Gerlach commented on #98
I did it for the docs, and if you want I can do it for the banner image as well; I have both the logo and the text already for the former so I'd just need to reposition it for the latter. I could also ensure it was small caps like the banner for the reasons outlined in spyder-ide/spyder-docs#19 .

[2018-04-18 15:14] #98 closed

[2018-04-19 16:12] goanpeca opened #109 "Suggestions"
* [ ] I think the open collective icon is too big. On High DPI screens it looks pixelated. Maybe use an SVG instead of a png?

* [x] I think the footer would look better in a dark color with white icons and text, to generate a more clearer separation of concerns.

* [x] I think having so many attributions clouds a bit the footer. We could use that real state for more meaningfull information and ha

[2018-04-24 05:29] CAM-Gerlach commented on #109
Indeed; it does if examined closely even on my normal DPI screen.

I dunno about this one; I'd have to see it on ``develop``. It looks pretty clear right now at least to me with the horizontal rule and drop shadow, and making it too dark might lend it too much weight and look out of place with the otherwise light and clean theme of the rest of the page.

Agreed, and they are rather inconsistent in

[2018-05-07 05:19] CAM-Gerlach opened #113 "Add Twitter and Facebook links somewhere for easy access and SEO"
Currently, our Facebook and especially Twitter links aren't really linked from anywhere but our OpenCollective to my knowledge, and correspondingly have very low SEO rankings and are very hard to find. Therefore, they should be presumably added to our website somewhere for easy access for users to keep updated and stay in touch, as well as improve their tracking by search engines. Also, linking ou

[2018-05-07 22:41] CAM-Gerlach commented on #113
Well, I'm dumb; they're already in the footer. Still, the fact that I missed them even when specifically looking for them says *something* (though maybe more about my inability to find them then they being hard to find). Perhaps we could color them and the github one their normal expected colors instead? They'd stand out much better that way, instead of my eye just glossing over them as a layout e

[2018-05-26 00:13] CAM-Gerlach opened #117 "Fix datetime format to be ISO 8601"
Currently, the dates on the blog posts are displayed in a strange format I've never seen in English:

Given the heavily international focus of the project, we should probably just stick with ISO 8601 YYYY-MM-DD [HH:MM:SS] date format (or, at least, a standard English form like February 23, 2018 or 23 February 2018 , for no other reason than English is the language of the blog). This should be simp

[2018-05-28 06:47] CAM-Gerlach opened #119 "Harmonize blog body and header font sizes with docs"
As discussed in spyder-ide/spyder-docs#26 and implemented in spyder-ide/spyder-docs#48 , we probably should harmonize our blog header and body font sizes with that of our docs, for the same reasons that justified changing the fonts, including the serif heading font, to match. Furthermore, they are rather overly large as it is, making posts drag on longer and making the headings almost comically hu

[2018-06-29 13:27] jitseniesen opened #126 "Include blog in Planet SciPy"
The blog aggregator [Planet SciPy](http://planet.scipy.org) (which I think stands for Scientific Python, not just the scipy library) includes the old Spyder blog at http://spyder-ide.blogspot.com/ (even twice, for some reason), but not our shiny new blog. Not sure how popular Planet SciPy is, but it may get us some traffic.

[2018-07-02 15:35] #113 closed

[2018-07-02 17:31] ccordoba12 opened #129 "Make pipes in footer in red"
@dalthviz, please change the `|` symbols in footer to be in red and also in bold.

[2018-07-03 02:22] ccordoba12 commented on #119
On a second thought, I think it's ok for our blog and docs to have different styles.

[2018-07-03 02:22] #119 closed

[2018-07-04 22:34] #129 closed

[2018-07-05 00:21] ccordoba12 commented on #126
Great idea @jitseniesen! Could you help us with this one?

[2018-07-05 12:17] jitseniesen commented on #126
I wrote to the maintainer of the website.

[2018-07-05 13:01] ccordoba12 commented on #126
Thanks!

[2018-07-06 08:31] jitseniesen commented on #126
We need to have an RSS feed to be included. Do we have one?

[2018-07-06 16:18] ccordoba12 opened #133 "Remove Blog link in blog navbar"
This is similar to the issue I opened in spyder-docs: right now you can see

    Home Blog Docs

in the blog navbar, but it should show instead

    Home Docs

@dalthviz, please work on this one.

[2018-07-07 02:04] ccordoba12 commented on #126
I don't think so. @dalthviz, please investigate if Lektor can generate an RSS feed or how to do it by other means.

[2018-07-07 23:09] dalthviz commented on #126
@ccordoba12 Lektor has a plugin for [Atom feeds](https://www.getlektor.com/plugins/lektor-atom/). @jitseniesen Could be valid with Atom feeds?

[2018-07-08 15:51] jitseniesen commented on #126
@dalthviz Yes, an atom feed should work.

[2018-07-08 19:57] CAM-Gerlach commented on #109
@goanpeca Edited your post to make it a checklist for clarity and so we can indicate completion; hope you don't mind and please edit further if desired.

[2018-07-08 20:53] CAM-Gerlach opened #134 "Include (reasonably-sized) "Download" and "Donate" buttons on the common header bar"
## Present situation

Somewhat related to some of @goanpeca 's suggestions in #109 , I'm not a big fan of the look of the overly large "donate" button, nor its positioning buried all the way down in the common footer, nor it making the footer awkwardly huge vertically (while cramped horizontally); not only does this harm the layout, but it makes it much less obvious to find immediately; meanwhile,

[2018-07-09 18:43] dalthviz commented on #109
I think the open collective icon is already and `SVG`

[2018-07-09 18:50] CAM-Gerlach commented on #109
Yup, I checked it as well.

[2018-07-10 02:41] #133 closed

[2018-07-10 02:44] CAM-Gerlach commented on #133
I'll take that as a no? I personally favor the alternative presented, but its not a big deal either way and we can always implement it later as our needs grow. :)

[2018-07-10 02:53] ccordoba12 commented on #133
Only if you want to implement it. Else we'll move on as planned.

[2018-07-10 02:57] CAM-Gerlach commented on #133
Since it seems very straightforward to implement it even for a newbie like me, I can work it into my schedule if there is a good chance you think you'd accept it. If not, then I don't want to trouble you further about it.

[2018-07-11 02:32] ccordoba12 commented on #133
I'd have to see it implemented to tell you if I like or not.

[2018-07-30 18:15] CAM-Gerlach commented on #126
Included in the (much more popular and active) Planet Python; see python/planet#296 . @jitseniesen did you email Gael Varoquaux, as it said to do on the page, to ask them to remove the duplicates and add our new URL? The only email I could find was the generic firstname.lastname@inria.fr on [gael-varoquaux.info](http://gael-varoquaux.info/about.html) which seemed like it couldn't be correct.

[2018-07-31 08:56] jitseniesen commented on #126
I did email him and got a reply, but it seems something went wrong. i'll contact him again.

[2018-08-22 15:22] CAM-Gerlach commented on #126
@jitseniesen Any updates? Its one of the last few blockers on spyder-ide/spyder-docs#39 , although it if it appears the site is mostly defunct we can disinclude it there...

[2018-08-22 16:32] jitseniesen commented on #126
The site has been down for two weeks or so, so I cannot check whether we are now included. I have also lost interest. I just stumbled on it, but it does not seem to have a big audience.

I'm closing this issue as no longer relevant.

[2018-08-22 16:32] #126 closed

[2018-08-22 17:10] CAM-Gerlach commented on #126
Agreed; thanks!

[2018-09-12 13:46] jitseniesen commented on #126
For what it's worth, the website is back up and our blog is included.

[2018-09-12 14:01] CAM-Gerlach commented on #126
@jitseniesen Thanks for the update!

[2018-10-01 18:58] CAM-Gerlach commented on #39
Given this is already covered by the documentation and I agree with those pointing out it really isn't Spyder's domain (we already get enough users asking us basic Python questions as it is; this would open the floodgates), should this be closed?

[2018-10-01 19:47] ccordoba12 commented on #39
Yeah, this is not something we should address.

[2018-10-01 19:47] #39 closed

[2018-10-17 00:07] CAM-Gerlach commented on #117
This didn't end up being hard at all; I already did it on my own site. I just have to backport the changes to this one...

[2018-10-17 02:52] ccordoba12 commented on #117
Ok, please do.

[2019-05-03 15:25] goanpeca opened #149 "Add TDK Micronas"

[2019-10-30 19:54] juanis2112 opened #156 "Add Instagram Link to footer in website"
Please @dalthviz add the link to instagram account http://instagram.com/spyderide

[2019-10-31 04:05] CAM-Gerlach commented on #156
Just add the link to ``footer_instagram`` in the `.lektorproject` file, since it already exists hardcoded in the theme. Once I upgrade the Spyder site to Lektor-Icon v2 instead of the legacy version in use now, you'll be able to customize the link text and add custom links to any arbitrary site from the config file.

[2019-11-27 20:34] #156 closed

[2020-02-23 20:31] goanpeca opened #160 "Create a transformer script to converto blog from nikola (quansight labs website) to lektor (spyder website)"
Since we will for some time be cross posting on both the spyder blog and the quansight blog, we should create a small tool to make this easier. Since most of the time we start on the labs website, we should create a Nikola -> Lektor blog.

The structure is well defined and on the future we could have these posts be created by a github action.

[2020-02-23 22:24] goanpeca opened #161 "Pin to last version of atom that was using prividing the atom feed"

[2020-02-26 03:38] goanpeca commented on #161
Pin werkzeug<1.0 so that we can use an old version of werkzeug that has the atom feed provider.

[2020-02-26 06:10] CAM-Gerlach commented on #161
The title is terribly garbled; from having suggested this I assume it should be something like

At some point, the legacy Atom feed will have to be dropped so as to not be stuck on an ancient version of werkzeug; all major browsers except for IE have dropped support for RSS/Atom and the only real purpose was to include the blog on [Planet SciPy](https://planet.scipy.org/), which @jitseniesen menti

[2020-02-26 17:48] #161 closed

[2020-03-15 01:45] pradyot-09 commented on #134
@ccordoba12 @goanpeca If this feature is still something you guys would like to have, you can assign it to me. I would be happy to contribute.

[2020-03-15 02:14] CAM-Gerlach commented on #134
@pradyot-09 Thanks for your generous offer. However, the implementation is relatively trivial and I've already offer it as a simple config option in the overhaul of the lektor-icon theme I did, which I plan to port this site over to at some point in the near future (you can see it deployed on my [Star Fleet Tours site](https://www.star-fleet.tours/), for example). The majority of the effort with t

[2020-03-20 17:31] PurveshBaghele opened #163 "Add blogs on the architecture of Spyder"
We are a group of students from TU Delft currently doing a course on Software Architecture. We've written a nice [blog](https://desosa2020.netlify.com/projects/spyder/2020/02/26/product-vision.html) on the "Product Vision" of Spyder which includes system components analysis, stakeholders' analysis, and end-user mental model.
We are also going to come up with a good blog series on the architecture

[2020-03-21 18:27] jitseniesen opened #164 "Update "Installing a development build" about git-subrepo"
I think the section [Installing a development build](https://docs.spyder-ide.org/installation.html#installing-a-development-build) needs to be updated now that we use `git subrepo` for `spyder-kernels`.

I was actually looking for the instructions about `git subrepo`, but could not find them easily.

[2020-05-04 21:46] goanpeca commented on #117
Hi @CAM-Gerlach, has this been fixed ? Could you give us a hand?

Thanks!

[2020-05-04 21:50] goanpeca commented on #61
Doing some cleaning up on issues.

@ccordoba12 do we want to have a `develop`site and a `production` site so these changes can be tested before official publishing? (should be straightforward to setup)

[2020-05-04 21:52] goanpeca commented on #54
@CAM-Gerlach, do you think this is worth adding?

[2020-05-04 21:53] goanpeca commented on #109
@dalthviz could we close this now ?

[2020-05-04 22:04] dalthviz commented on #109
Um I guess so :+1:

[2020-05-04 22:09] #109 closed

[2020-05-05 01:46] CAM-Gerlach commented on #61
@goanpeca [We already do](http://develop.spyder-ide.org/) lol, you yourself were the one that set that up jeje.

[2020-05-05 01:48] goanpeca commented on #61
Oops hehe, so I guess teh question is if you would like to help with the FAQ :-) ?

[2020-05-05 01:48] CAM-Gerlach commented on #117
Sorry, I fixed this a year ago in the overhauled version of the theme. As soon as I port the site, this improvement along with many others will come for free; I apologize for the delay on that but once I get to it, it will be pretty straightforward to do.

[2020-05-05 02:15] goanpeca commented on #117
Sure 👍

[2020-05-05 02:30] CAM-Gerlach commented on #54
The revised theme has full documentation on the technical aspects but a short higher-level guide might be nice. I can tackle it after I port the site (as much as possible despite being almost a complete rewrite under the hood, I kept the high-level API the same). Not a huge priority since the existing contributors are familiar but would be good to have.

[2020-05-05 05:31] CAM-Gerlach commented on #61
Sure, I could do it, though @ccordoba12 getting me started with a list of some current questions would be helpful. We could just use a normal page like the [FAQ](https://www.star-fleet.tours/faq/) on the [Star Fleet site](https://www.star-fleet.tours/) (based, of course, on the rewrite of Lektor-Icon), though I'd like to add a custom template/model with things like expanding/collapsing questions a

[2020-05-05 19:46] gwerbin opened #165 "Website title"
The source for https://spyder-ide.org contains this:

[code]
but it should probably contain
[code]
Putting the word "Website" in the title of the website is somewhat of a faux pas, in that it makes the website feel outdated and goofy. It's especially out of place on a polished, modern website like the current homepage.

It looks like the correct place to make the change is here: https://github.com

[2020-05-05 19:59] goanpeca commented on #165
Thanks for the feedback @gwerbin.

Would you be interested in making a PR to correct this?

Thanks!

[2020-05-06 01:21] CAM-Gerlach commented on #165
@gwerbin Great point, thanks. If you want to do the honors with a PR to get credit for the fix, that would be splendid; otherwise we can take care of it. The bug would be in the theme, not in Lektor, and is fixed in my overhauled version; we'll pick up the improvement for free once we port the site over.

[2020-06-12 18:37] goanpeca opened #166 "Create 5-10 questions for the STXNEXT developer blog"
The idea is to use a testimonial plus some questions for Michał

---

## The testimonial

*Michał Wiśniewski*

In an era of a continuously growing demand for analysis of vast amounts of data, we are facing increasingly complex tasks to perform. Sure, we are not alone—there are many great tools designed for scientists and data analysts. We have NumPy, SciPy, Matplotlib, Pandas, and others. But, wou

[2020-06-14 14:07] gwerbin commented on #165
Hi, sorry I never followed up on this. Should I still make a PR with the name change?

[2020-06-14 18:04] ccordoba12 commented on #165
Yes, please do.

[2020-06-14 18:19] goanpeca commented on #166
The company link is this one https://stxnext.com/ (forgot to add in the previous message)

[2020-06-30 01:46] ccordoba12 commented on #166
This was already addressed via email.

[2020-06-30 01:46] #166 closed

[2020-08-29 20:06] CAM-Gerlach opened #174 "Use Netlify to build deploy previews automatically; consider unifying develop and production branches (?)"
It shouldn't be difficult to add Netlify support here, in a similar manner as we did with the docs site, to greatly reduce the friction on reviewing and testing changes.

We should also think  maintain separate `develop` and `production` branches and the extra overhead that entails, at least for the original reasons we did so. Originally, we had these set up since @ccordoba12 and I couldn't build

[2020-09-04 21:38] CAM-Gerlach commented on #61
Added to the docs in spyder-ide/spyder-docs#174

[2020-09-04 21:38] #61 closed

[2020-09-25 21:55] #34 closed

[2020-09-25 21:55] #56 closed

[2020-09-25 21:55] #117 closed

[2020-09-25 21:55] #165 closed

[2020-09-25 21:55] #174 closed

[2020-10-20 19:58] juanis2112 commented on #149
@ccordoba12 please let us know if they are okay with us doing this

[2020-10-20 20:02] juanis2112 opened #181 "Change color of pane icons to blue"

[2020-10-20 20:10] juanis2112 opened #182 "Change blog text in blog website to home"

[2020-10-20 23:41] CAM-Gerlach opened #183 "Minor followup changes after implementation of new theme"
* [x] Change FG color to theme default
* [x] Don't use different feature background on hover
* [x] Eliminate Spyder Reports from plugins
* [x] Fix order of donate and sponsors and nix sponsors from navbar to make it shorter
* [x] Add links to components and sponsors
* [x] ~~Reduce size of Spyder screenshot to avoid it cropping~~ Looks much too small on desktop, much more so than expected; recommen

[2020-11-04 16:14] ccordoba12 commented on #183
Why this issue was closed by #184? It doesn't look right to me.

[2020-11-04 16:16] CAM-Gerlach commented on #183
Accidentally used a trigger word out of context, sorry

![image](https://user-images.githubusercontent.com/17051931/98136637-c422d480-1e86-11eb-9175-0a244ca8749a.png)

[2020-11-04 21:07] ccordoba12 commented on #183
Ok, no prob.

[2020-11-11 23:23] ccordoba12 opened #186 "Add buttons to download the new installers"
Now that we have the installers, we should promote them in website. So my idea is to change the button

    Download Spyder with Anaconda

for two buttons in a column with the same shape and style, like this:

    Download Spyder for Windows <Windows icon>
    Download Spyder for macOS <macOS icon>

@dalthviz, could you help us with that?

[2020-11-12 00:21] CAM-Gerlach commented on #186
@ccordoba12 I can take care of this using the new multi-flowblock feature I just implemented in the theme that's used for the donate section. There's two approaches I can think of: either swap out the button for the new auto-centering and clickable cards (with some CSS to make them look like buttons), or add a second button flowblock and some CSS to get them to display centered and inline at deskt

[2020-11-12 00:24] CAM-Gerlach commented on #186
The other PR I was working on to address #183 won't touch the download section (we weren't going to change anything there anyway), so I should be able to finish that in parallel to this one, but let me mock something up here first.

[2020-11-12 15:20] dalthviz commented on #186
Sounds good to me @CAM-Gerlach thanks! And as for the alternatives I would say the first one (just one column) looks better. Let me know if you need something from me :+1: and also this change will be worked on #187 ?

[2020-11-12 15:35] CAM-Gerlach commented on #186
Thanks @dalthviz

I thought about it but I ended up making the preliminary changes in a seperate branch, since #187 is ready for review and merge and I didn't want to hold up the simple changes we already agreed on there while we decide on the separate issue of the specifics of the buttons and the text here. I didn't touch the downloads section there, to make sure there shouldn't be any significan

[2020-11-12 16:11] ccordoba12 commented on #186
I agree with @dalthviz, the buttons looks better in a vertical layout.

Another suggestion (if not too hard to implement) is to add the corresponding operating system icon to the right of to the text. I think that would make the buttons look even better.

[2020-11-12 16:13] ccordoba12 commented on #186
Also, the paragraphs in the `Download` section need to be rewritten to tell people about our new installers and not Anaconda.

@CAM-Gerlach, could you take care of that too?

[2020-11-12 16:31] CAM-Gerlach commented on #186
Yes indeed, it should be pretty straightforward to do as I discuss above:

Instead of manually copying the relevant CSS into ours, I'll just add support for loading multiple custom stylesheets to the theme and add the Font Awesome CSS to the site. Also, icons in buttons, particularly download ones, are conventionally to the left of the text; see e.g. the [Rstudio download page](https://rstudio.com

[2020-11-12 19:56] ccordoba12 commented on #186
Agreed. The button should point to Anaconda.

[2020-11-14 18:19] #186 closed

[2020-11-18 01:16] #183 closed

[2020-11-21 01:01] isabela-pf commented on #182
I was looking at the docs the other day and I think I may have made a mistake in advising about the navigation between the main Spyder page, the docs, and the blog. Because the navigation has some differences in UI, I thought each one was more separate from each other than they actually are. Looking a little closer made me realize they seem to be the same site. This is absolutely my misunderstandi

[2020-11-21 02:23] CAM-Gerlach commented on #182
Thanks @isabela-pf . Implemented exactly as suggested above in spyder-ide/lektor-icon#16 . Also, made the underline smoothly transition to indicate the current homepage/singlepage section the user is currently on, as the original theme did. Since the changes are a clear improvement, making the current page and section clearer and consistent with each other, and pick up their colors and styling cue

[2020-11-21 08:56] CAM-Gerlach commented on #182
Implemented all as spyder-ide/spyder-docs-sphinx-theme#39

[2020-11-27 19:55] juanis2112 commented on #182
From the docs meeting, we will have it like this but when a person is in a subpage of the blog or the docs, the text should not be underlined. Also we will add a title on the top page of the blog that say "Welcome to Spyder's Blog"

[2020-11-27 23:23] CAM-Gerlach commented on #182
Updated both PRs accordingly

[2020-11-30 00:21] #182 closed

[2020-12-06 03:09] CAM-Gerlach commented on #50
@ccordoba12 Now that the website (other than the blog) is a single page, and we have search on the docs where its most important, do we still want to do this? I could add support to the theme for a custom iframe inject where we want it and just copy and paste in the code from e.g. DuckDucGo, but we don't have a good place to put it other than the navbar, where it would be inconsistent with the doc

[2020-12-06 03:16] CAM-Gerlach commented on #181
Want me to take care of this @juanis2112 ? I could knock it out in a minute or two with a quick find and replace of the color in the SVG files.

[2020-12-06 03:16] CAM-Gerlach commented on #149
@ccordoba12 Do we still want to do this?

[2020-12-14 21:10] CAM-Gerlach commented on #181
I went ahead with this in #191 , since I didn't hear anything and it was so trivial to do. We should make sure we actually like it, however.

[2020-12-15 01:07] #181 closed

[2021-02-05 23:43] ccordoba12 commented on #50
Yeah, I don't think it's worth to invest time on this.

[2021-02-05 23:43] #50 closed

[2021-02-12 18:39] deepcoder opened #194 "Spyder on MacOS Mojave fails to launch 'Failed to copy signing info for'"
Spyder on MacOS Mojave fails to launch 'Failed to copy signing info for'

downloaded the Mac .dmg file from web site
https://github.com/spyder-ide/spyder/releases/latest/download/Spyder.dmg
put in applications directory

when launching, just shows dialog box with text 'Spyder Error'

Feb 12 10:33:10 graymini Spyder[18632]: Spyder Error
Feb 12 10:33:13 graymini com.apple.xpc.launchd[1] (org.spyder-

[2021-02-14 22:02] CAM-Gerlach commented on #194
@ccordoba12 I wasn't aware of this limitation; this seems very severe and greatly limits the utility of our installer packages given that 10.14 is still supported by Apple (and Python, Anaconda and all deps I know of support much older versions, back to 10.9-10.11 at least in most cases) and was only first released two years ago, and 10.15 only supports Macs newer than mid 2012-late 2013. Moreover

[2021-02-15 04:09] mrclary commented on #194
let me see if I can fire up a VM with Mojave and investigate. I think in the worst case we could just build it on Mojave in our Pipeline...

[2021-02-15 04:12] CAM-Gerlach commented on #194
I do seem to remember something about normal macOS apps built with Xcode, that you can select a minimum macOS SDK version to build against and it will be compatible with later versions unless there are major API breaks, though I'm not that familiar with macOS development nor your particular packaging method.

[2021-02-15 04:41] ccordoba12 commented on #194
This is really the problem: Github Actions don't have a Mojave image so we can't build our app on it. The oldest version available is Catalina. So I think the only possible workaround we could implement is telling Homebrew to compile things for Mojave (instead of using Catalina's bottles) or (somehow) trick it into believing it's running on Mojave.

[2021-02-15 05:06] mrclary commented on #194
Hmm...I'm having trouble obtaining Mojave. Cannot get it from the App Store, or from the command line.

Tried special link here https://support.apple.com/en-us/HT211683, which results in
<img width="780" alt="Screen Shot 2021-02-14 at 9 01 56 PM" src="https://user-images.githubusercontent.com/9618975/107907212-e3121780-6f07-11eb-9670-b1014f9b5865.png">

And command line:
[code]
I need to get a ful

[2021-02-15 15:34] mrclary commented on #194
I wonder if something like this could work?
https://github.com/actions/virtual-environments/issues/1256#issuecomment-770270252

[2021-02-15 18:18] mrclary commented on #194
@deepcoder or anyone with access to Mojave, could you test [this artifact](https://github.com/spyder-ide/spyder/suites/2045182010/artifacts/41167056)? It launches on Catalina and Big Sur, but I don't know if it made a difference for Mojave. It is the Lite version, but if it actually launches on Mojave, then I can build the full version and we can test that more extensively.

[2021-05-04 09:46] emres opened #195 "Broken links on the main page: www.spyder-ide.org, giving 404 error messages"
# Issue Report
Some of the links on the main page are broken, giving 404 error messages.

## Issue Description
The following links are broken, they give 404 errors as of this writing:

- http://docs.spyder-ide.org/current/editor.html
- http://docs.spyder-ide.org/current/ipythonconsole.html
- http://docs.spyder-ide.org/current/variableexplorer.html
- http://docs.spyder-ide.org/current/plots.html
-

[2021-05-06 23:49] #195 closed

[2021-05-25 20:33] juanis2112 opened #197 "Update the screenshot of the main webpage with Spyder 5 screenshot"

[2021-05-25 20:39] juanis2112 opened #198 "Update the screenshot of readme with Spyder 5 screenshot"

[2021-09-21 20:30] CAM-Gerlach commented on #197
Looks like @isabela-pf already updated this with PR #199 ?

[2021-09-21 20:31] CAM-Gerlach commented on #194
Hey @mrclary was this resolved?

[2021-09-21 21:13] CAM-Gerlach opened #202 "Hero image/screenshot 10x+ larger than nominal (4.5+ MB) due to apparent scaling issue and resulting poor compression efficiency"
Following PR #199 , particularly what appeared to be its addressing of #197 , the size of the hero image has increased by 1000% (!), to a whopping 4.5+ MB. This is a very big hit for users, especially newer ones loading the site for the first time or that don't have access to good internet. Given the that both the image itself and the screenshot and logotype within are the same size and similar in

[2021-09-22 00:56] mrclary commented on #194
@CAM-Gerlach, I think the resolution is that there is no possible way for us to support Mojave. Github does not have a a Mojave image for us to build the app on. I have detailed instructions for [building the app on macOS](https://github.com/spyder-ide/spyder/wiki/Dev:-Building-a-Standalone-Spyder-Application), so anyone should be able to download the latest source code and build on any macOS vers

[2021-09-22 01:12] CAM-Gerlach commented on #194
Gotcha, I understand. I left a comment over there as well. I guess once I fix the site build, we can add a line specifying minimum OS versions required, either static or conditional on the OS being detected. @ccordoba12 what's our minimum officially supported Windows version? 7? 8.1?

[2021-09-23 15:08] ccordoba12 opened #204 "no-commit-to-branch is run when merging to master"
Builds are marked as broken thanks to that. See for example:

https://github.com/spyder-ide/website-spyder/runs/3683560773

[2021-09-23 18:15] CAM-Gerlach commented on #204
Ah, this happens because the updated lint workflow I pulled in now runs on pushes to master, whereas it only ran on PRs before. I'll either disable the check or the job in that situation. Fix incoming ASAP.

[2021-09-23 19:33] #204 closed

[2021-10-08 19:03] CAM-Gerlach commented on #197
I'm going to assume that's a yes, and optimization will be addressed in #202

[2021-10-08 19:03] #197 closed

[2022-10-22 15:38] jitseniesen opened #209 "Update binder link"
The link for starting Spyder on binder does not work. There is some explanation in https://github.com/spyder-ide/spyder/issues/19832#issuecomment-1287602906 and other comments on that issue.

[2022-10-22 16:14] CAM-Gerlach commented on #209
We discussed it at the meeting, and @ccordoba12 will be addressing the issue linked there, but I'm not sure if we have an updated link we can add yet. However, we should update it on the docs too (and the Spyder Readme, etc), whenever we do get there.

[2022-10-22 17:46] ccordoba12 commented on #209
Yes, we do and it's this one:

[code]

@CAM-Gerlach, could you take care of updating the Binder link here and in our docs? Thanks!

[2022-10-22 21:17] CAM-Gerlach commented on #209
Sure; I've updated it here in #210 (as well as some other tweaks and updates to the Download section language, based on the feedback in spyder-ide/spyder-docs#334 ), and on the docs in spyder-ide/spyder-docs#336 .

[2022-11-13 01:58] #209 closed